<ion-header>
    <ion-navbar color="rojo">
        <ion-title> Seleccionar Semana</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item class="ion-item1" no-lines>
            <ion-label>Semana</ion-label>
            <ion-select [(ngModel)]="week" (ionChange)="onSelectChange($event)">
                <ion-option *ngFor="let semana of (asistenciaweek|async)" value={{semana.key}}>{{semana.periodo}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="week">
        <ion-item-sliding class="ion-item2" *ngFor="let item of (asistenciadia|async)" #slidingItem>
            <ion-item class="ion-item1">
                <ion-thumbnail item-start>
                    <img src="assets/documento.png">
                </ion-thumbnail>
                <h3>Dia: {{item.dia}}</h3>
                <p>{{item.fecha | date}}</p>
            </ion-item>
            <ion-item-options side="right">
                <button style="color:white" ion-button color="rojo" item-end (click)="viewasisdia(item,slidingItem)"> <ion-icon name="clipboard"></ion-icon> Ver</button>
                <button ion-button color="danger" item-end (click)="eliminar(item,slidingItem)"><ion-icon name="trash"></ion-icon>Eliminar</button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>
</ion-content>