page-tabs {
    .tabbar_blue .tabbar {
        background-color: "primary";
    }
    .tabbar_rojo .tabbar {
        background-color: rgb(231, 125, 125);
    }
    .tabbar_rosado .tabbar {
        background-color: #fcba0d;
    }
    .tabbar_morado .tabbar {
        background-color: #573299;
    }
}