<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>Perfil</ion-title>
        <ion-buttons right>
            <button ion-button (click)="actualizar()">Actualizar</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item text-center *ngFor="let item of info">
            <ion-item text-center>
                <img *ngIf="item.imagen === ''  && !imagenPreview" src="assets/hogar.png">
                <img *ngIf="imagenPreview" [src]="imagenPreview">
                <img *ngIf="item.imagen" [src]="item.imagen">
            </ion-item>
            <button ion-button (click)="seleccionar_foto()">Seleccionar Foto</button>
            <h1>{{item.nombre}}</h1>
            <h1>{{item.apellido}}</h1>
            <p>{{item.email}}</p>
            <p>{{item.cel}}</p>
            <p>{{item.direccion}}</p>
            <p>{{item.municipio}}</p>
        </ion-item>
    </ion-list>
</ion-content>