<ion-menu left [content]="content">
    <ion-header no-border>
        <ion-toolbar>
            <ion-item no-lines *ngFor="let item of info">
                <ion-thumbnail item-start>
                    <img *ngIf="item.imagen === ''" src="assets/hogar.png">
                    <img *ngIf="item.imagen" [src]="item.imagen">
                </ion-thumbnail>
                <ion-title>{{item.nombre}}<br>{{item.apellido}}</ion-title>
            </ion-item>

        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>


        <ion-list>
            <ion-item no-lines ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon *ngIf="p.title === 'Dashboard'" name="home"></ion-icon>
                <ion-icon *ngIf="p.title === 'Perfil'" name="contact"></ion-icon>
                {{ p.title }}
            </ion-item>
            <ion-item ion-item menuClose (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                Salir
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>