<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>

            <button ion-button (click)="cerrar_modal()">
                      Cerrar
                  </button>

        </ion-buttons>
        <ion-title>{{item.titulo}}</ion-title>
        <ion-buttons right>

            <button ion-button (click)="comentar()">
                              Comentar
                          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img [src]="item.fuente">
    <h3 text-center> Comentarios</h3>
    <ion-card *ngFor="let comentario of (comentarios | async)?.slice().reverse()">

        <ion-item>
            <ion-avatar item-start>
                <img *ngIf="!comentario.imagen" src="assets/hogar.png">
            </ion-avatar>
            <h2>{{comentario.nombre}}<br>{{comentario.apellido}}</h2>
        </ion-item>

        <ion-card-content>
            <p>{{comentario.comentario}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col text-right>
                <ion-note>
                    {{comentario.fecha | date}}
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>