<ion-header>
    <ion-navbar color="rosado">
        <ion-buttons left>

            <button color="blanco" ion-button (click)="cerrar_modal()">
              Cerrar
          </button>

        </ion-buttons>
        <ion-title>
            <p>Perfil del niño</p>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item no-lines class="ion-itemc" text-center>
            <ion-item class="ion-itemc" text-center>
                <img *ngIf="!item.imagen && item.genero === 'masculino' && !imagenPreview" src="assets/boy.png">
                <img *ngIf="!item.imagen && item.genero === 'femenino'  && !imagenPreview" src="assets/girl.png">
                <img *ngIf="imagenPreview" [src]="imagenPreview">
                <img *ngIf="item.imagen" [src]="item.imagen">
            </ion-item>

            <h1>{{item.nombre}} {{item.apellido}}</h1>
            <p>No. Documento: {{item.nuip}}</p>
            <p>Nacimiento: {{item.fecha}}</p>
            <p>Edad: {{item.edad}}</p>
            <p>Dirección: {{item.direccion}}</p>
            <p>Observaciones: {{item.info}}</p>
            <br>
            <h2>Información del Pariente</h2>
            <p>{{item.parentname}} {{item.parentlastname}}</p>
            <p>No. Documento: {{item.cedula}}</p>
            <p>Parentesco: {{item.parentesco}}</p>
            <p>Edad: {{item.parentage}}</p>
        </ion-item>
    </ion-list>

</ion-content>