page-childview {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdf6dd+0,fdefbf+35,fde79b+69,fdda66+100 */
        background: rgb(253, 246, 221);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(253, 246, 221, 1) 0%, rgba(253, 239, 191, 1) 35%, rgba(253, 231, 155, 1) 69%, rgba(253, 218, 102, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(253, 246, 221, 1) 0%, rgba(253, 239, 191, 1) 35%, rgba(253, 231, 155, 1) 69%, rgba(253, 218, 102, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(253, 246, 221, 1) 0%, rgba(253, 239, 191, 1) 35%, rgba(253, 231, 155, 1) 69%, rgba(253, 218, 102, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    ion-title {
        p {
            color: white;
        }
    }
    .ion-itemc {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        p,
        h1,
        h2 {
            color: black;
        }
        h2 {
            font-weight: bold;
        }
    }
    .button1 {
        p {
            color: white;
        }
    }
}