page-calificar {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6d9fe+0,d1b9fe+31,c0aae9+70,b29dd7+100 */
        background: rgb(230, 217, 254);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(230, 217, 254, 1) 0%, rgba(209, 185, 254, 1) 31%, rgba(192, 170, 233, 1) 70%, rgba(178, 157, 215, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(230, 217, 254, 1) 0%, rgba(209, 185, 254, 1) 31%, rgba(192, 170, 233, 1) 70%, rgba(178, 157, 215, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(230, 217, 254, 1) 0%, rgba(209, 185, 254, 1) 31%, rgba(192, 170, 233, 1) 70%, rgba(178, 157, 215, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    ion-label {
        font-weight: bold;
    }
    .range-md .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1);
    }
    .range-md:not(.range-has-pin) .range-knob-handle .range-knob {
        transform: scale(1);
    }
    .range-ios .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1);
    }
    .ion-item1 {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
}