page-formulario {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
        background: rgb(252, 255, 244);
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(252, 255, 244, 1) 0%, rgba(233, 233, 206, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(252, 255, 244, 1) 0%, rgba(233, 233, 206, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(252, 255, 244, 1) 0%, rgba(233, 233, 206, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}